<h1 class="text-center search">Urban Hiker</h1>

<hr/>
<div class="container text-center">
	<form method="GET" action="/results">
		<input type="text" name="city"  placeholder="City" required>
		<input type="text" name="state" placeholder="State" required>

		<input id="hikeSearch" type="submit" class="btn btn-primary">
	</form>
</div>